.user-info {

  .avatar {
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 32px;
    height: 32px;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }

  p {
    display: inline-block;
    width: calc(100% - 32px);
    line-height: 20px;
    padding: 6px 0 6px 10px;
    vertical-align: top;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }
}