@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

.main-content {
  display: block;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@import './styles/mixin';
@import './styles/grid';
@import './styles/loading';
@import './styles/comments';
@import './styles/header';
@import './styles/user-avatar-name';

